@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* header */
header {
    background: #E59500 ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    z-index: 2;
}
.navbar, .navbar-list {
display: flex;
align-items: center;
justify-content: center;
}

.navbar {
    gap: 150px;
    padding: 20px 60px;
}

.navbar-list {
    gap: 30px;
    padding: 20px 60px;

}

.navbar-list a {
    color: #02040F;
    font-weight: 500;
}
.navbar-list li:first-child > a {
    color: #840032;
    font-weight: 700;
}

