@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: #840032;
}
/* header */
header {
    background: #E59500 ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    box-shadow: #02040F 0px 8px 24px ;
    position: fixed;
    background-color:#E59500;
    z-index: 1;
}
/* Navbar */
.navbar, .navbar-list {
display: flex;
align-items: center;
justify-content: center;
}

.navbar {
    gap: 150px;
    padding: 20px 60px;
}

.navbar-list {
    gap: 30px;
    padding: 20px 60px;

}

.navbar-list a {
    color: #02040F;
    font-weight: 500;
}
.navbar-list li:first-child > a {
    color: #840032;
    font-weight: 700;
}

/* MEDIA QUERIES */
.navbar {
    display:flex;
}

.navbar i {
    font-size: 36px;
    display: none;
}   

#toggle-menu {
    display: none;
}

/* Fin Navbar */

/* MAIN FONDO */
main {
    background:#840032 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    
}

.hero-foto {

}
/* HERO */
#hero {
    margin-top: 80px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.hero-info h1 {
    font-size: 50px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color:#E5DADA;
}

.hero-info p {
    font-size: 18px;
    width: 90%;
    color: #E5DADA;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.hero-info p > span {
    font-weight: 600px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;

}

.hero-info a {
    color:#E5DADA;
    background-color: #02040F;
    width: 120px;
    padding: 8px 10px;
    font-size: 16px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.hero-foto {
    width: 800px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

/* Información de tienda */

.titulo-h2, .informacion-de-tienda {
    justify-content: center;
    display: flex;
    
}

.titulo-h2{
    width: 0%;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    color:#E5DADA;
}

.informacion-de-tienda {
    display: flex;
    margin-top: 30px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;
    text-align:center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0%;
    width:600px;
    color: #E5DADA;

}


/* Footer en construcción*/
/* footer {
    background:#E59500;
}
.footer-estilo {
    background: #E59500;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    font-size: 20px;

} */

/* Beneficios de la tienda */

#info {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;

}

#info h3 {
    font-size: 32px;
    font-weight: 800;
    color: #E5DADA;

}

.info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20;
}

.info-cards img {
    width: 100px;
}
.info-cards {
    width: 220px;
    height: 220px;
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #E59500;
    border-radius: 10px;
    gap:20px;
    flex-basis: 200px;
    
}

.info-cards h4 {
    font-size: 20px;
    color: #E5DADA;
}

.info-cards p {
    font-size: 15px;
    color: #E5DADA;
}

#form {
    width: 650px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-right: 200px;
}

.form h3 {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 20px;
    color: #E5DADA;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form {
    background:#a12957;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(red, green, blue, 0.8);
    border-radius: 10px;
    width: 100%;
    margin: auto;
    padding: 100px 50px 100px 50px;
}


form .grupo {
    position: relative;
    margin: 45px;
    padding: 15px;
}

input {
    background-color:#a12957;
    color:#840032;
    font-size: 25px;
    border:none;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #E5DADA;
}

input:focus {
    outline: none;
    color: #E5DADA;
}
 
label {
    color: #02040F;
    font-size: 20px;
    position: absolute;
    transition: 0,5s ease-in-out all;
    pointer-events: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
    padding-top: 15px;
}

input:focus~label {
    top: -14px;
    color: #E59500;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "" ;
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #E59500, #E5DADA);
    transition: 0.3s ease width;
    left: 0;
    
}

input:focus~.barra::before {
    width: 110%;
    
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #E59500, #E5DADA);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #840032;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}



#form-mapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.mapouter {
    padding-top: 15px;
}

/* MEDIA QUERIES */


@media (max-width: 992px) {
    .hero-info {
        text-align: center;
        width: 90%;
        align-items: center;
    }

    .hero-info h1 {
        display: block;
        width: 100%;

    }
    .hero-info p {
        max-width: 80%;
        font-size: 16px;
    }
    .button-container {
        justify-content: center;
    }
    .hero-foto {
        display: none;
    }

    .tituto-h2{
        font-size: 30px;
        width: 100%;
        display: block;
    }
    .informacion-de-tienda {
        font-size: 15px;
        align-items: center;
        text-align: center;
        width: 90%;
        
    }

    .footer-estilo {
        font-size: 14px;
        align-items: center;
        text-align: center;
        width: 90%;
    }
}

@media (max-width: 576px) {
    .navbar ul {
        background-color: #E59500;
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 50px;
        left:0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
    }
    
    .navbar i {
        display: block;
    }

    #toggle-menu:checked~.navbar-list {
        transform: translateX(0);
        transition: all 0.4s ease-in;

    }

    hero-info p {
        max-width: 100%;
    }

    .hero-info h1 {
        width: 100%;
        display: block;
        font-size: 35px;
    }
    .form {
        width: 70%;
    }

    #info {
        width: 70%;
    }

    .info-cards {
        display: block;
        flex-direction: column;
        margin: 10px;
    }
}